/* Fonts:
 - Roboto:400
 - Josefin+Sans:600
 */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600);

/* Body and globals
 * ------------------------------------------------------------------------------------------------------------------ */
body{
  background-color:#e0e0e0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-family: 'Josefin Sans',arial,sans-serif;
}

.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}


hr {border-color:#ececec;}
button { outline: 0; }
textarea { resize: none; outline: 0; }

/* Header
 * ------------------------------------------------------------------------------------------------------------------ */
#header {
  background-color:#f4f4f4;
  border-width: 0;
  border-bottom: 1px solid #d0d1d5;
}
#header .navbar-collapse {background-color:#f4f4f4;}
#header .navbar-nav > .active > a,
#header .navbar-nav > li:hover > a,
#header .navbar-nav > li.open > a {
  border:0 solid #4285f4;
  border-bottom-width: ;
  font-weight:800;
  background-color:transparent;
}

/* Breadcrumb
 * ------------------------------------------------------------------------------------------------------------------ */

.breadcrumb{
  background-color: #fff;
  border: 1px solid;
  border-color:  #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 0;
  margin-bottom: 10px;
}

/* Wells and panels
 * ------------------------------------------------------------------------------------------------------------------ */
.well, .panel {
  border: 1px solid;
  border-color:  #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 0;
  margin-bottom: 10px;
  background-color:  #fff;
}

.panel .btn i,.btn span{
  color:#666;
}

/* Panel heading */
.panel .panel-heading {
  font-weight:700;
  font-size: 1.2em;
  color:#262626;
  border-bottom: 1px solid #efefef;
  padding-bottom: 0;
  padding-top: 10;
}

.panel .panel-heading a {
  font-weight:400;
  font-size:11px;
}

.panel .panel-heading h1,
.panel .panel-heading h2,
.panel .panel-heading h3,
.panel .panel-heading h4,
.panel .panel-heading h5 {
  margin-top: 0;
}

.list-group-item:first-child,.list-group-item:last-child {
  border-radius:0;
}

.dropdown-menu {
  background-color:#f4f4f4;
  border-color:#f0f0f0;
  border-radius:0;
  margin-top:-1px;
}
/* end theme */


/* Panel thumbnails
 * ------------------------------------------------------------------------------------------------------------------ */
.panel .panel-thumbnail {
  padding:0;
  position: relative;
}
.panel .panel-thumbnail img{
  width: 100%;
}
.panel .panel-thumbnail .social-icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(100, 100, 100, .8);
  text-align: right;
  padding: 0 15px;
}
.panel .panel-thumbnail .social-icons i {
  color: #CCC;
}

.panel .panel-thumbnail .panel-thumbnail-container {
  position: relative;
  overflow: hidden;
}

.panel .panel-thumbnail .panel-thumbnail-container > .panel-thumbnail-image{
  padding-top: 70%;
  height: 0;
  background-color: #666;
}
.panel .panel-thumbnail .panel-thumbnail-container > .panel-thumbnail-image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  max-width: initial;
}


/* Well last update
 * ------------------------------------------------------------------------------------------------------------------ */
.well-last-update{
  padding-top: 10px;
  padding-bottom: 10px;
}
.well-last-update h4{
  color: #666;
  font-weight: 100;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.well-last-update h4 b {
  color: #000;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #cfcfcf;
}

/* Panel search and panel search mini
 * ------------------------------------------------------------------------------------------------------------------ */
.panel-search{}

.panel-search-mini {}

.panel-search-mini>.panel-heading{
  padding-bottom: 0;
  border: 0;
}
.panel-search-mini>.panel-body{
  padding-top:0;
}

.panel-search-body h5{
  color: #666;
  font-weight: 100;
}
.panel-search-body h5 b {
  color: #000;
  font-size: 1.1em;
}

/* Search results: items */

.search-results .search-result-item{
  padding-bottom: 0;
  padding-top: 0;
}
.search-results .search-result-item .search-result-item-heading{
  margin-bottom: 0;
}
.search-results .search-result-item .search-result-item-heading h4{
  color: #337ab7;
  margin-bottom: 0;
}
.search-results .search-result-item.active .search-result-item-heading h4{
  color: #c7ddef;
}
.search-results .search-result-item .search-result-item-heading p.lead{
  font-size: 0.8em;
  margin-bottom: 10px;
}
.search-results .search-result-item .search-result-item-text{
  font-size: 0.8em;
  margin-top: 10px;
}

/* Panel search mini...
 * ------------------------------------------------------------------------------------------------------------------ */


/* Well Twitch
 * ------------------------------------------------------------------------------------------------------------------ */

.well-twitch{
  background-position: center;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  padding: 0;
}
.well-twitch .well-bg-color{
  padding: 9px;
  background-color: rgba(30, 30, 30, .5);
}

.well-twitch .media-left .twitch-thumbnail{
  width: 120px;
  padding: 2px;
  margin-bottom: 0;
}

.well-twitch .media-body .twitch-display-name a{
  color: #fff;
  font-size: 24px;
}
.well-twitch .media-body .twitch-status{
  color: #fff;
  font-size: 10px;
}
.well-twitch .media-body .twitch-online-status {
  padding-left: 5px;
}
.well-twitch .media-body .twitch-online-status .text-danger{
  color: red;
}
.well-twitch .media-body .twitch-online-status span {
  color: #fff;
  position: relative;
  top: -2px;
  font-size: 24px;
}
.well-twitch .media-body .twitch-viewers {
  color: #fff;
}

/* Panel youtube
 * ------------------------------------------------------------------------------------------------------------------ */
.panel-youtube {
}

.panel-youtube .panel-heading.panel-title{
  padding: 10px 0 0 0;
}

.panel-youtube .panel-heading {
  padding: 0;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-repeat: no-repeat;
}
.panel-youtube .panel-heading .panel-heading-bg {
  padding: 9px;
  background-color: rgba(30, 30, 30, .5);
  max-height: 140px;
  overflow: hidden;
}

.panel-youtube .panel-heading h4.panel-title a{
  color: #fff;
  font-size: 24px;
}

.panel-youtube .panel-heading .panel-description{
  color: #fff;
  font-size: 12px;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.panel-youtube .panel-heading .thumbnail {
  width: 120px;
  padding: 2px;
  margin-bottom: 0;
}
.panel-youtube .panel-body {
  padding: 0 5px 5px 5px;
}
.panel-youtube .panel-body .media {
  margin-top: 5px;
  background-color: #eee;
  box-shadow: 0 1px 1px rgba(0,0,0, .5);
}
.panel-youtube .panel-body .media .media-body {
  position: relative;
}
.panel-youtube .panel-body .video-title{
  font-size: 14px;
  padding-top: 0;
}
.panel-youtube .panel-body .video-upload-date {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-bottom: 0;
}


/* 404
 * ------------------------------------------------------------------------------------------------------------------ */

/* Body background color */

body.soyto-full-party-bg {
  background-color: #f46d3b;
  -webkit-animation: loader-inifinite-change 10s infinite;
  -moz-animation: loader-inifinite-change 10s infinite;
  -ms-animation: loader-inifinite-change 10s infinite;
  -o-animation: loader-inifinite-change 10s infinite;
  animation: loader-inifinite-change 10s infinite;
}

body.soyto-full-party-bg .soyto-404,
body.soyto-full-party-bg .soyto-404 a,
body.soyto-full-party-bg .soyto-404 a:hover,
body.soyto-full-party-bg .soyto-404 a:visited,
body.soyto-full-party-bg .footer,
body.soyto-full-party-bg .footer a,
body.soyto-full-party-bg .footer a:hover,
body.soyto-full-party-bg .footer a:visited{
  color: #fff;
}


@-moz-keyframes loader-inifinite-change /* Firefox */
{
  0%     {background-color: #f46d3b;}
  50%    {background-color: #9932CC;}
  100%   {background-color: #f46d3b;}
}

@-webkit-keyframes loader-inifinite-change  /* Safari and Chrome */
{
  0%     {background-color: #f46d3b;}
  50%    {background-color: #9932CC;}
  100%   {background-color: #f46d3b;}
}

/* Template layout
 * ------------------------------------------------------------------------------------------------------------------ */
#subnav {
  position:fixed;
  width:100%;
}

@media (max-width: 768px) {
  #subnav {
    padding-top: 6px;
  }
}

#main { padding-top:70px; }
/* Loading bar height */
#loading-bar .bar{height: 5px;}

/* flex row */
.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}