<!-- If channel is loading data... -->
<div data-ng-if="isLoading" class="text-right">
  <i class="fa fa-spin fa-spinner"></i>
</div>

<!-- If is not loading -->
<div data-ng-if="!isLoading">

  <!-- If is not streaming -->
  <div data-ng-if="streamData.stream == null" class="text-right">
    <a href="" data-ng-href="{{ twitchChannel }}" target="_blank" class="text-muted">
      <i class="fa fa-eye-slash"></i> Offline
    </a>
  </div><!-- /If is not streaming -->

  <!-- If stream is active -->
  <div data-ng-if="streamData.stream != null" class="text-right">
    <a href="" data-ng-href="{{ twitchChannel }}" target="_blank" class="text-info">
      <i class="fa fa-eye"></i> Online
    </a>
    <small>{{ streamData.stream.viewers}} viewers</small>
  </div><!-- /if stream is active -->

</div><!-- /If is not loading -->