<div data-ng-if="isVisible">
  <div data-ng-if="isLoading" class="well text-center">
    <i class="fa fa-spin fa-spinner fa-3x"></i>
  </div>

  <div class="well well-sm well-twitch"
       data-ng-style="{'background-image': 'url(' + channelData.profile_banner + ')'}"
       data-ng-if="!isLoading">
    <div class="well-bg-color">
      <div class="media">

        <!-- Media left -->
        <div class="media-left">
          <div class="thumbnail twitch-thumbnail">
            <img class="media-object"  data-ng-src="{{ channelData.logo }}">
          </div>
        </div><!-- /Media left -->

        <div class="media-body">

          <h4 class="twitch-display-name text-center">
            <a href="" data-ng-href="{{ channelData.url }}" target="_blank">{{ channelData.display_name }}</a>
          </h4>

          <h5 class="twitch-status">{{ channelData.status }}</h5>

          <!-- Is online or not -->
          <div class="twitch-online-status">

            <div data-ng-if="channelStream != null" class="twitch-channel-online">
              <i class="fa fa-circle fa-2x text-danger"></i>
              <span>Live</span>
            </div>

            <div data-ng-if="channelStream == null" class="twitch-channel-offline">
              <i class="fa fa-circle fa-2x text-muted"></i>
              <span>Offline</span>
            </div>

          </div><!-- /Is online or not -->

          <!-- Viewers -->
          <div class="twitch-viewers text-right" data-ng-if="channelStream != null">{{ channelStream.viewers }} Viewers</div>

        </div>

      </div>
    </div>
  </div>
</div>