
module.exports = {

    'crawler': {
    "gameforgeAccount": {
      "login" : "** Please set your account here **",
      "password": "** Please set your password here **"
    },
    'user-agent': 'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.130 Safari/537.36',
  },

  'application': {
    'base-folder': 'data/',
    'app-files': [
      'app/helpers/folders.dates.js',

      'app/app.js',

      'app/controllers/characterInfo.controller.js',
      'app/controllers/characterInfo.mobile.controller.js',
      'app/controllers/index.controller.js',
      'app/controllers/ranking.list.controller.js',
      'app/controllers/ranking.list.mobile.controller.js',
      'app/controllers/root.controller.js',

      'app/services/helper.service.js',
      'app/services/storedData.service.js',

      'app/directives/facebookCommentBox.directive.js'
    ],
    'concat-dest': 'dst/app.js',
    'uglify-dest': 'dst/app.min.js'
  }
};
