<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a ng-href="#/ranking/{{serverName}}">{{serverName}}</a></li>
  <li><a ng-href="#/character/{{serverName}}/{{character.characterID}}">{{character.characterName}}</a></li>
</ol><!-- /Breadcrumb -->

<div class="row">

  <!-- Left column -->
  <div class="col-md-4 col-xs-12">

    <!-- Character picture and name -->
    <div class="panel panel-default">

      <!-- Panel thumbnail -->
      <div class="panel-thumbnail">

        <!-- Image -->
        <img src="{{character.pictureURL}}" class="img img-responsive"><!-- /Image -->

        <!-- Social icons -->
        <div class="social-icons" data-ng-if="character.social">

          <!-- Facebook -->
          <a data-ng-if="character.social.facebook" data-ng-href="{{character.social.facebook}}" target="_blank">
            <i class="fa fa-facebook-square fa-2x"></i>
          </a><!-- /Facebook -->

          <!-- Youtube -->
          <a data-ng-if="character.social.youtube" data-ng-href="{{character.social.youtube}}" target="_blank">
            <i class="fa fa-youtube-square fa-2x"></i>
          </a><!-- /Youtube -->

          <!-- Twitch -->
          <a data-ng-if="character.social.twitch" data-ng-href="{{character.social.twitch}}" target="_blank">
            <i class="fa fa-twitch fa-2x"></i>
          </a><!-- /Twitch -->

          <!-- Mouseclick -->
          <a data-ng-if="character.social.mouseClick_gearCalcID" data-ng-href="{{character.social.mouseClick_gearCalcID}}" target="_blank">
            <i class="fa fa-address-card fa-2x"></i>
          </a><!-- /Mouseclick -->

        </div><!-- /Social icons -->

      </div><!-- /Panel thumbnail -->

      <!-- Panel body -->
      <div class="panel-body">
        <div data-ng-if="character.social.twitch" data-twitch-is-online="character.social.twitch"></div>
        <h4>{{character.characterName}} <small>{{character.raceName}} {{character.soldierRank.name}}</small></h4>
        <h5>{{character.characterClass.name}}
          <span ng-if="character.guildName">of {{character.guildName}}</span>
          <span ng-if="!character.guildName">without guild</span>
        </h5>
      </div><!-- /Panel body -->

    </div><!-- /Character picture and name -->

    <!-- Twitch panel -->
    <twitch-panel data-ng-if="character.social.twitch" twitch-channel="character.social.twitch"></twitch-panel>

    <!-- Search Panel -->
    <div class="panel panel-search-mini panel-search">

      <div class="panel-heading">
        <h4>Search another character:</h4>
      </div>

      <div class="panel-body">

        <!-- Search form -->
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control"
                   data-ng-keydown="onKeydown_searchPanel($event)"
                   data-ng-scroll-to="search-input"
                   data-ng-scroll-to-offset="30"
                   data-ng-scroll-to-element-margin="{'top': 40, 'bottom': 0}"
                   data-ng-model="search.text"
                   data-ng-change="onChange_searchText(search.text)">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div><!-- /Search form -->

        <!-- Loading results -->
        <h5 data-ng-if="search.loading">Results for <b>{{ search.term }}</b>: <em>...</em></h5><!-- /Loading results -->

        <!-- Search results (When there is data) -->
        <div data-ng-if="!search.loading && search.results != null && search.results.length > 0">
          <h5>Results for <b>{{ searchTerm }}</b>:</h5>
          <div class="list-group">
            <a data-ng-repeat="searchItem in search.results" class="list-group-item clearfix"
               data-ng-class="{'active': $index == search.selectedIndex}"
               data-ng-scroll-to="search-result-{{$index}}"
               data-ng-scroll-to-offset="30"
               data-ng-scroll-to-element-margin="{'top': 40, 'bottom': 0}"
               href="" data-ng-href="#/character/{{searchItem.serverName}}/{{searchItem.id}}">

              <div class="list-group-item-heading pull-left">
                <h4>{{searchItem.characterName}}-{{searchItem.serverName}}</h4>
                <p class="lead"><b>Last status:</b> {{searchItem.lastStatus | date: 'MM-dd-yyyy'}}</p>
              </div>

              <p class="list-group-item-text pull-right">
                {{searchItem.raceName}} {{searchItem.characterClass.name}} <br/>
                {{searchItem.soldierRank.name}}
              </p>
            </a>
          </div>
        </div><!-- /Search results (When there is data) -->

        <!-- Search results (Empty) -->
        <div data-ng-if="!search.loading && search.results != null && search.results.length === 0">
          <h5>Results for <b>{{ searchTerm }}</b>: <b>No data was found</b></h5>
        </div><!-- /Search results (Empty) -->

      </div>

    </div><!-- /Search Panel -->

    <!-- Names panel -->
    <div class="panel">
      <div class="panel-heading"><h4>Names</h4></div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Date</th>
            <td>Name</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="name in character.names">
            <td>{{ name.date | date: 'MM/dd/yyyy' }}</td>
            <td>{{ name.characterName }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /Names panel -->

    <!-- Legions panel -->
    <div class="panel">
      <div class="panel-heading"><h4>Legions</h4></div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Date</th>
            <td>Guild name</td>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="guild in character.guilds">
            <td>{{ guild.date | date: 'MM/dd/yyyy' }}</td>
            <td>{{ guild.guildName }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /Legions panel -->

  </div><!-- /Left column -->

  <!-- Right column -->
  <div class="col-md-8 col-xs-12">

    <!-- Rank history -->
    <div class="panel" data-ng-show="character.status.length > 0">
      <div class="panel-heading">
        <ul class="nav nav-tabs" data-ng-init="showing='rows'">
          <li role="presentation" data-ng-class="{active: showing=='rows'}"><a ng-click="showing='rows'">Table</a></li>
          <li role="presentation" data-ng-class="{active: showing=='graph'}"><a ng-click="showing='graph'">Chart</a></li>
        </ul>
      </div>
      <div class="panel-body">

        <div ng-show="showing == 'rows'">

          <table class="table table-striped table-hover">

            <thead>
            <tr>
              <th>Date</th>
              <th>Rank</th>
              <th>Position</th>
              <th>Position change</th>
              <th>Glory points</th>
              <th>Glory points change</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="status in pagination.current">
              <td>
                <a ng-href="#/ranking/{{serverName}}/{{ status.date | date: 'MM-dd-yyyy' }}">
                  {{ status.date | date: 'MM/dd/yyyy' }}
                </a>
              </td>
              <td>{{ status.soldierRank.name }}</td>
              <td>{{ status.position }}</td>
              <td>
                <i class="fa" ng-class="{
                          'fa-arrow-up': status.rankingPositionChange > 0,
                          'text-success': status.rankingPositionChange > 0,
                          'fa-arrow-down': status.rankingPositionChange < 0,
                          'text-danger': status.rankingPositionChange < 0,
                          }"></i>
                {{ status.rankingPositionChange }}
              </td>
              <td>{{ status.gloryPoint }}</td>
              <td>
                <i class="fa" ng-class="{
                          'fa-arrow-up': status.gloryPointChange > 0,
                          'text-success': status.gloryPointChange > 0,
                          'fa-arrow-down': status.gloryPointChange < 0,
                          'text-danger': status.gloryPointChange < 0,
                          }"></i>
                {{ status.gloryPointChange }}
              </td>
            </tr>
            </tbody>

          </table>

          <nav class="text-center">
            <ul class="pagination">
              <li ng-class="{'disabled': pagination.currentPage == 0}">
                <a href="" aria-label="Previous" ng-click="pagination.prev()"><i class="fa fa-angle-left"></i></a>
              </li>

              <li ng-repeat="idx in pagination.pages" ng-class="{'active': pagination.currentPage == idx }">
                <a href="" ng-click="pagination.goTo(idx)">{{ idx + 1 }}</a>
              </li>

              <li ng-class="{'disabled' : pagination.currentPage + 1 == pagination.numPages}">
                <a href="" aria-label="Next" ng-click="pagination.next()"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </nav>

        </div>

        <div ng-show="showing == 'graph'">
          <canvas id="line" class="chart chart-line" data="chart.data" labels="chart.labels" legend="true" series="chart.series" options="chart.options" >
          </canvas>
        </div>

      </div>
    </div><!-- /Rank history -->

    <!-- Rank history clean -->
    <div class="panel" data-ng-show="character.status.length == 0">
      <div class="panel-heading"><h4>Honor Points</h4></div>
      <div class="panel-body">
        <h5 class="text-center">Character have no data stored</h5>
      </div>
    </div>

    <!-- Facebook panel -->
    <div class="panel">
      <div class="panel-body">
        <div class="fb-comments" fb-comment-plugin
             page-href="http://soyto.github.io/#/character/{{serverName}}/{{character.characterID}}" data-numposts="50"></div>
      </div>
    </div><!-- /Facebook panel -->

  </div><!-- /Right column -->

</div>
