<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
</ol>

<div class="row">

  <div class="col-md-6 col-sm-6">

    <div class="well">
      <h4>Last update: <b>{{ lastServerUpdateData }}</b></h4>
    </div><!-- /.well -->

  </div>

  <div class="col-md-6 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading"><h4>Servers</h4></div>
      <div class="panel-body">
        <div class="list-group">
          <a ng-repeat="server in servers" class="list-group-item" ng-href="#/ranking/{{server.name}}">{{server.name}}</a>
        </div>
      </div>
    </div><!-- /.panel -->

  </div>

</div><!-- /.row -->
