<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
</ol>

<div class="row">

  <div class="col-md-6 col-sm-6">

    <div class="well">
      <h4>Last update: <b>{{ lastServerUpdateData }}</b></h4>
    </div><!-- /.well -->

    <div class="panel panel-default">
      <div class="panel-heading"><h4>Merges preview</h4></div>
      <div class="panel-body">
        <div class="list-group">
          <a class="list-group-item" href="#/merge/0">Alquima + Anuhart</a>
          <a class="list-group-item" href="#/merge/1">Vehalla + Balder + Kromede</a>
          <a class="list-group-item" href="#/merge/2">Telemachus + Spatalos + Curatus</a>
          <a class="list-group-item" href="#/merge/3">Perento + Nexus + Zubaba</a>
          <a class="list-group-item" href="#/merge/4">Calindi + Suthran</a>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4>Servers</h4></div>
      <div class="panel-body">
        <div class="list-group">
          <a ng-repeat="server in servers" class="list-group-item" ng-href="#/ranking/{{server.name}}">{{server.name}}</a>
        </div>
      </div>
    </div><!-- /.panel -->

  </div>

  <div class="col-md-6 col-sm-6">

    <div class="panel panel-default" ng-repeat="post in posts">
      <div class="panel-heading">
        <h3 class="text-center">{{post.title}}</h3>
      </div>
      <div class="panel-body panel-post">
        <div class="post-date"><small class="pull-right">{{post.date | date: 'MM-dd-yyyy HH:mm'}}</small></div>
        <div ng-bind-html="post.htmlContent"></div>
      </div>


      </div>
    </div><!-- /.panel -->

  </div>

</div><!-- /.row -->
