<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a ng-href="#/merge/{{serverData.id}}">{{serverData.name}}</a></li>
</ol>

<div class="row">

  <div class="col-md-8 col-sm-12">
    <div class="well">
      <form class="form-inline">

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Class</div>
            <select id="selectedClass" class="form-control" ng-model="selectedClass" ng-options="class.name for class in classes">
              <option value="">-- All classes --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">Rank</div>
            <select id="selectedRank" class="form-control" ng-model="selectedRank" ng-options="rank.name for rank in ranks">
              <option value="">-- All ranks --</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input id="searcher" type="search" class="form-control" ng-model="textSearch" />
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">

    <div class="well">
      <form class="form-inline">

        <div class="form-group">
          <select id="server" class="form-control" ng-model="currentMerge" ng-options="merge.name for merge in mergeGroups"></select>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="goTo(currentMerge)">Go</button>
        </div>

      </form>
    </div>

  </div>

</div>

<hr />

<div class="row">
  <div class="col-lg-12">
    <div class="panel">

      <div class="panel-heading">
        <ul class="nav nav-tabs" data-ng-init="showing='elyos'">
          <li role="presentation" data-ng-class="{active: showing=='elyos'}"><a ng-click="showing='elyos'">Elyos</a></li>
          <li role="presentation" data-ng-class="{active: showing=='asmodians'}"><a ng-click="showing='asmodians'">Asmodians</a></li>
        </ul>
      </div>

      <div class="panel-body">

        <div ng-show="showing=='elyos'">

          <nav class="text-center">
            <ul class="pagination pagination-sm">
              <li ng-class="{'disabled': pagination.elyos.currentPage == 0}">
                <a href="" aria-label="Previous" ng-click="pagination.elyos.previous()"><i class="fa fa-angle-left"></i></a>
              </li>

              <li ng-repeat="idx in pagination.elyos.pageNumbers" ng-class="{'active': pagination.elyos.currentPage + 1 == idx }">
                <a href="" ng-click="pagination.elyos.goTo(idx)">{{ idx }}</a>
              </li>

              <li ng-class="{'disabled' : pagination.elyos.currentPage + 1 == pagination.elyos.numPages}">
                <a href="" aria-label="Next" ng-click="pagination.elyos.next()"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </nav>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Class</th>
                <th>GuildName</th>
                <th>Glory points</th>
                <th>Rank preview<br />(<small>Current</small>)</th>
                <th>Rank change preview<br />(<small>Current</small>)</th>
                <th>Change</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="character in pagination.elyos.currentPageElements">
                <td>{{ character.position }}</td>
                <td>
                  <a ng-href="#/character/{{character.serverName}}/{{character.characterID}}">{{ character.characterName }}</a>
                  <br />
                  (<small>{{character.serverName}}</small>)
                </td>
                <td>{{ character.characterClass.name }}</td>
                <td>{{ character.guildName }}</td>
                <td>{{ character.gloryPoint }}</td>
                <td>{{ character.soldierRank.name }} <br /><small>({{character.oldSoldierRank.name}})</small></td>
                <td>
                  {{ character.rankingPositionChange }}
                  <i class="fa" ng-class="{
                    'fa-arrow-up': character.rankingPositionChange > 0,
                    'text-success': character.rankingPositionChange > 0,
                    'fa-arrow-down': character.rankingPositionChange < 0,
                    'text-danger': character.rankingPositionChange < 0,
                      }"></i>
                  <br />
                  <small>
                    ({{ character.oldRankingPositionChange }}<i class="fa" ng-class="{
                    'fa-arrow-up': character.oldRankingPositionChange > 0,
                    'text-success': character.oldRankingPositionChange > 0,
                    'fa-arrow-down': character.oldRankingPositionChange < 0,
                    'text-danger': character.oldRankingPositionChange < 0,
                      }" ng-if="character.oldRankingPositionChange != 0"></i>)
                  </small>
                </td>
                <td><i class="fa" ng-class="{
                    'fa-arrow-up': character.gloryPointChange > 0,
                    'text-success': character.gloryPointChange > 0,
                    'fa-arrow-down': character.gloryPointChange < 0,
                    'text-danger': character.gloryPointChange < 0}"></i>
                  {{ character.gloryPointChange}}
                </td>
              </tr>
            </tbody>
          </table>

          <nav class="text-center">
            <ul class="pagination  pagination-sm">
              <li ng-class="{'disabled': pagination.elyos.currentPage == 0}">
                <a href="" aria-label="Previous" ng-click="pagination.elyos.previous()"><i class="fa fa-angle-left"></i></a>
              </li>

              <li ng-repeat="idx in pagination.elyos.pageNumbers" ng-class="{'active': pagination.elyos.currentPage + 1 == idx }">
                <a href="" ng-click="pagination.elyos.goTo(idx)">{{ idx }}</a>
              </li>

              <li ng-class="{'disabled' : pagination.elyos.currentPage + 1 == pagination.elyos.numPages}">
                <a href="" aria-label="Next" ng-click="pagination.elyos.next()"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </nav>

        </div>

        <div ng-show="showing=='asmodians'">

          <nav class="text-center">
            <ul class="pagination pagination-sm">
              <li ng-class="{'disabled': pagination.asmodians.currentPage == 0}">
                <a href="" aria-label="Previous" ng-click="pagination.asmodians.previous()"><i class="fa fa-angle-left"></i></a>
              </li>

              <li ng-repeat="idx in pagination.asmodians.pageNumbers" ng-class="{'active': pagination.asmodians.currentPage + 1 == idx }">
                <a href="" ng-click="pagination.asmodians.goTo(idx)">{{ idx }}</a>
              </li>

              <li ng-class="{'disabled' : pagination.asmodians.currentPage + 1 == pagination.asmodians.numPages}">
                <a href="" aria-label="Next" ng-click="pagination.asmodians.next()"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </nav>

          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Class</th>
              <th>GuildName</th>
              <th>Glory points</th>
              <th>Rank preview<br />(<small>Current</small>)</th>
              <th>Rank change preview<br />(<small>Current</small>)</th>
              <th>Change</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="character in pagination.asmodians.currentPageElements">
              <td>{{ character.position }}</td>
              <td>
                <a ng-href="#/character/{{character.serverName}}/{{character.characterID}}">{{ character.characterName }}</a>
                <br />
                (<small>{{character.serverName}}</small>)
              </td>
              <td>{{ character.characterClass.name }}</td>
              <td>{{ character.guildName }}</td>
              <td>{{ character.gloryPoint }}</td>
              <td>{{ character.soldierRank.name }} <br /><small>({{character.oldSoldierRank.name}})</small></td>
              <td>
                {{ character.rankingPositionChange }}
                <i class="fa" ng-class="{
                    'fa-arrow-up': character.rankingPositionChange > 0,
                    'text-success': character.rankingPositionChange > 0,
                    'fa-arrow-down': character.rankingPositionChange < 0,
                    'text-danger': character.rankingPositionChange < 0,
                      }"></i>
                <br />
                <small>
                  ({{ character.oldRankingPositionChange }}<i class="fa" ng-class="{
                    'fa-arrow-up': character.oldRankingPositionChange > 0,
                    'text-success': character.oldRankingPositionChange > 0,
                    'fa-arrow-down': character.oldRankingPositionChange < 0,
                    'text-danger': character.oldRankingPositionChange < 0,
                      }" ng-if="character.oldRankingPositionChange != 0"></i>)
                </small>
              </td>
              <td><i class="fa" ng-class="{
                    'fa-arrow-up': character.gloryPointChange > 0,
                    'text-success': character.gloryPointChange > 0,
                    'fa-arrow-down': character.gloryPointChange < 0,
                    'text-danger': character.gloryPointChange < 0}"></i>
                {{ character.gloryPointChange}}
              </td>
            </tr>
            </tbody>
          </table>

          <nav class="text-center">
            <ul class="pagination pagination-sm">
              <li ng-class="{'disabled': pagination.asmodians.currentPage == 0}">
                <a href="" aria-label="Previous" ng-click="pagination.asmodians.previous()"><i class="fa fa-angle-left"></i></a>
              </li>

              <li ng-repeat="idx in pagination.asmodians.pageNumbers" ng-class="{'active': pagination.asmodians.currentPage + 1 == idx }">
                <a href="" ng-click="pagination.asmodians.goTo(idx)">{{ idx }}</a>
              </li>

              <li ng-class="{'disabled' : pagination.asmodians.currentPage + 1 == pagination.asmodians.numPages}">
                <a href="" aria-label="Next" ng-click="pagination.asmodians.next()"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</div>
