<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a ng-href="#/merge/{{data.$$state.serverData1.serverName}}-{{data.$$state.serverData2.serverName}}">{{data.serverName}}</a></li>
  <li><a ng-href="#/merge/{{data.$$state.serverData1.serverName}}-{{data.$$state.serverData2.serverName}}/{{data.date}}">{{data.date}}</a></li>
</ol>

<!-- If is not empty -->
<div data-ng-if="data.$$state.serverData.data.elyos.length > 0 || data.$$state.serverData.data.asmodians.length > 0">

  <!-- Point scorers and chart -->
  <div class="row">

    <!-- Point scorers -->
    <div class="col-md-4" data-ng-show="data.stats != null">

      <div class="panel">
        <div class="panel-body">
          <table class="table table-condensed">

            <thead>
            <tr>
              <th></th>
              <th>Elyos</th>
              <th>Asmodian</th>
            </tr>
            </thead>

            <tbody>

            <tr>
              <td>Point scorers</td>
              <td>
                <a ng-href="#/character/{{data.serverName}}/{{data.stats.elyos.topHP.characterID}}">
                  {{data.stats.elyos.topHP.characterName}}
                </a> (<span class="text-muted">{{data.stats.elyos.topHP.gloryPointChange}}</span>)
              </td>
              <td>
                <a ng-href="#/character/{{data.serverName}}/{{data.stats.asmodians.topHP.characterID}}">
                  {{data.stats.asmodians.topHP.characterName}}
                </a> (<span class="text-muted">{{data.stats.asmodians.topHP.gloryPointChange}}</span>)
              </td>
            </tr>

            <tr>
              <td>Positions up</td>
              <td>
                <a ng-href="#/character/{{data.serverName}}/{{data.stats.elyos.topPositionChange.characterID}}">
                  {{data.stats.elyos.topPositionChange.characterName}}
                </a> (<span class="text-muted">{{data.stats.elyos.topPositionChange.rankingPositionChange}}</span>)
              </td>
              <td>
                <a ng-href="#/character/{{data.serverName}}/{{data.stats.asmodians.topPositionChange.characterID}}">
                  {{data.stats.asmodians.topPositionChange.characterName}}
                </a> (<span class="text-muted">{{data.stats.asmodians.topPositionChange.rankingPositionChange}}</span>)
              </td>
            </tr>

            <tr>
              <td>Positions down</td>
              <td>
                <a ng-href="#/character/{{data.serverName}}/{{data.stats.elyos.lowerPositionChange.characterID}}">
                  {{data.stats.elyos.lowerPositionChange.characterName}}
                </a> (<span class="text-muted">{{data.stats.elyos.lowerPositionChange.rankingPositionChange}}</span>)
              </td>
              <td>
                <a ng-href="#/character/{{data.serverName}}/{{data.stats.asmodians.lowerPositionChange.characterID}}">
                  {{data.stats.asmodians.lowerPositionChange.characterName}}
                </a> (<span class="text-muted">{{data.stats.asmodians.lowerPositionChange.rankingPositionChange}}</span>)
              </td>
            </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div><!-- /Point scorers -->

    <!-- Chart -->
    <div data-ng-class="{'col-md-8': data.stats != null, 'col-md-12': data.stats == null}">
      <div class="panel">
        <div class="panel-heading">
          <h4> Honor vs Position for <b>{{serverData.serverName}}</b> <small> on {{serverData.date}}</small></h4>
        </div>
        <div class="panel-body" style="height:200px; max-height: 200px;">
          <canvas id="line" class="chart chart-line"
                  data-chart-data="data.chart.data"
                  data-chart-labels="data.chart.labels"
                  data-chart-series="data.chart.series"
                  data-chart-options="data.chart.options"
                  data-chart-colours="data.chart.colors" >
          </canvas>
        </div>
      </div>
    </div><!-- /Chart -->

  </div><!-- /Point scorers and chart -->

  <!-- Filters and navigation -->
  <div class="row">

    <!-- Filters -->
    <div class="col-md-8 col-sm-12">
      <div class="well">
        <form class="form-inline">

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Class</div>
              <select id="selectedClass"
                      class="form-control"
                      data-ng-model="data.filter.class"
                      data-ng-change="onChange_class()"
                      data-ng-options="class.name for class in data.filter.all_classess">
                <option value="">-- All classes --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Rank</div>
              <select id="selectedRank" class="form-control"
                      data-ng-model="data.filter.rank"
                      data-ng-change="onChange_rank()"
                      data-ng-options="rank.name for rank in data.filter.all_ranks">
                <option value="">-- All ranks --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <input id="searcher" type="search" class="form-control" data-ng-model="data.filter.text" data-ng-change="onChange_text()" />
              <span class="input-group-btn">
                <button class="btn btn-default" data-ng-click="onClick_filter()"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-info" data-ng-click="onClick_filter()">Search</button>
          </div>

        </form>
      </div>
    </div><!-- /Filters -->

    <!-- Navigation -->
    <div class="col-md-4 col-sm-12">

      <div class="well">
        <form class="form-inline">

          <div class="form-group">
            <select id="server" class="form-control" ng-model="data.navigation.server" ng-options="server.name for server in data.navigation.servers"></select>
          </div>

          <div class="form-group">
            <select id="searchDate" class="form-control" ng-model="data.navigation.date" ng-options="date for date in data.navigation.dates"></select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="onClick_navigateTo()">Go</button>
          </div>

        </form>
      </div>

    </div><!-- /Navigation -->

  </div><!-- /Filters and navigation -->

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">

        <!-- Panel heading -->
        <div class="panel-heading">
          <ul class="nav nav-tabs" data-ng-init="showing='vs'">
            <li role="presentation" data-ng-class="{'active': data.$$state.activeView == 'versus'}"><a data-ng-click="onClick_changeView('versus')">Versus</a></li>
            <li role="presentation" data-ng-class="{'active': data.$$state.activeView == 'elyos'}"><a data-ng-click="onClick_changeView('elyos')">Elyos</a></li>
            <li role="presentation" data-ng-class="{'active': data.$$state.activeView == 'asmodians'}"><a data-ng-click="onClick_changeView('asmodians')">Asmodians</a></li>
          </ul>
        </div><!-- /Panel heading -->

        <!-- Body -->
        <div class="panel-body">

          <!-- Navigation -->
          <nav class="text-center">
            <ul class="pagination">
              <li data-ng-class="{'disabled': data.pagination.currentPage == 0}">
                <a href="" aria-label="Previous" ng-click="onClick_paginationChange(data.pagination.currentPage - 1)"><i class="fa fa-angle-left"></i></a>
              </li>

              <li data-ng-repeat="idx in data.pagination.pageNumbers" data-ng-class="{'active': data.pagination.currentPage + 1 == idx }">
                <a href="" data-ng-click="onClick_paginationChange(idx - 1)">{{ idx }}</a>
              </li>

              <li data-ng-class="{'disabled' : data.pagination.currentPage + 1 == data.pagination.numPages}">
                <a href="" aria-label="Next" data-ng-click="onClick_paginationChange(data.pagination.currentPage + 1)"><i class="fa fa-angle-right"></i></a>
              </li>
            </ul>
          </nav><!-- /Navigation -->

          <div data-ng-if="!data.$$state.loadingTable">

            <!-- Versus table -->
            <table class="table table-striped table-hover" data-ng-show="data.$$state.activeView == 'versus'">

              <thead>
              <tr>
                <th class="text-right">Change</th>
                <th class="text-right">HP</th>
                <th class="text-right">Class</th>
                <th class="text-center">Name</th>
                <th>#</th>
                <th class="text-center">Name</th>
                <th class="text-left">Class</th>
                <th class="text-left">HP</th>
                <th class="text-left">Change</th>
              </tr>
              </thead>

              <tbody>
              <tr data-ng-repeat="characterPair in data.pagination.current.versus"
                  data-ng-show="characterPair.elyo.serverName || characterPair.asmodian.serverName">

                <td class="text-right">
                  <i class="fa" ng-class="{
                      'fa-arrow-up': characterPair.elyo.rankingPositionChange > 0,
                      'text-success': characterPair.elyo.rankingPositionChange > 0,
                      'fa-arrow-down': characterPair.elyo.rankingPositionChange < 0,
                      'text-danger': characterPair.elyo.rankingPositionChange < 0,
                      }"></i>
                  {{ characterPair.elyo.rankingPositionChange }}
                </td>
                <td class="text-right">{{ characterPair.elyo.gloryPoint }}</td>
                <td class="text-right">{{ characterPair.elyo.characterClass.name }}</td>
                <td class="text-center">
                  <a ng-href="#/character/{{characterPair.elyo.serverName}}/{{characterPair.elyo.characterID}}">
                    <b>{{ characterPair.elyo.characterName }}</b>
                    <small data-ng-show="characterPair.elyo.serverName">({{characterPair.elyo.serverName}})</small>
                  </a>
                  <p ng-if="characterPair.elyo.guildName">
                    <small>[{{ characterPair.elyo.guildName }}]</small>
                  </p>
                </td>


                <td>{{ characterPair.position }}<br /><i class="text-primary fa fa-exchange"></i></td>

                <td class="text-center">
                  <a ng-href="#/character/{{characterPair.asmodian.serverName}}/{{characterPair.asmodian.characterID}}">
                    <b>{{ characterPair.asmodian.characterName }}</b>
                    <small data-ng-show="characterPair.asmodian.serverName">({{characterPair.asmodian.serverName}})</small>
                  </a>
                  <p ng-if="characterPair.asmodian.guildName">
                    <small>[{{ characterPair.asmodian.guildName }}]</small>
                  </p>
                </td>
                <td class="text-left">{{ characterPair.asmodian.characterClass.name }}</td>
                <td class="text-left">{{ characterPair.asmodian.gloryPoint }}</td>
                <td class="text-left">
                  {{ characterPair.asmodian.rankingPositionChange }}
                  <i class="fa" ng-class="{
                      'fa-arrow-up': characterPair.asmodian.arrowStatus=='UP',
                      'text-success': characterPair.asmodian.arrowStatus=='UP',
                      'fa-arrow-down': characterPair.asmodian.arrowStatus=='DOWN',
                      'text-danger': characterPair.asmodian.arrowStatus=='DOWN',
                      }"></i>
                </td>

              </tr>
              </tbody>

            </table><!-- /Versus table -->

            <!-- Elyos table -->
            <table class="table table-striped table-hover" data-ng-show="data.$$state.activeView == 'elyos'">

              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Class</th>
                <th>GuildName</th>
                <th>Glory points</th>
                <th>Rank</th>
                <th>Ranking change</th>
                <th>HP change</th>
              </tr>
              </thead>

              <tbody>
              <tr data-ng-repeat="character in data.pagination.current.elyos">
                <td>{{ character.position }}</td>
                <td><a ng-href="#/character/{{character.serverName}}/{{character.characterID}}">{{ character.characterName }} <small>({{character.serverName}})</small></a></td>
                <td>{{ character.characterClass.name }}</td>
                <td>{{ character.guildName }}</td>
                <td>{{ character.gloryPoint }}</td>
                <td>
                  {{ character.newSoldierRank.name }}
                  <p  class="text-muted small" data-ng-show="character.soldierRank.id != character.newSoldierRank.id">({{character.soldierRank.name}})</p>
                </td>
                <td>
                  {{ character.rankingPositionChange }}
                  <i class="fa" ng-class="{
                        'fa-arrow-up': character.rankingPositionChange > 0,
                        'text-success': character.rankingPositionChange > 0,
                        'fa-arrow-down': character.rankingPositionChange < 0,
                        'text-danger': character.rankingPositionChange < 0,
                        }"></i>
                </td>
                <td>
                  {{ character.gloryPointChange  || '--' }}
                  <i class="fa" ng-class="{
                        'fa-arrow-up': character.gloryPointChange > 0,
                        'text-success': character.gloryPointChange > 0,
                        'fa-arrow-down': character.gloryPointChange < 0,
                        'text-danger': character.gloryPointChange < 0,
                        }"></i>
                </td>
              </tr>
              </tbody>

            </table><!-- /Elyos table -->

            <!-- Asmodians table -->
            <table class="table table-striped table-hover" data-ng-show="data.$$state.activeView == 'asmodians'">

              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Class</th>
                <th>GuildName</th>
                <th>Glory points</th>
                <th>Rank</th>
                <th>Ranking change</th>
                <th>HP change</th>
              </tr>
              </thead>

              <tbody>
              <tr data-ng-repeat="character in data.pagination.current.asmodians">
                <td>{{ character.position }}</td>
                <td><a ng-href="#/character/{{character.serverName}}/{{character.characterID}}">{{ character.characterName }} <small>({{character.serverName}})</small></a></td>
                <td>{{ character.characterClass.name }}</td>
                <td>{{ character.guildName }}</td>
                <td>{{ character.gloryPoint }}</td>
                <td>
                  {{ character.newSoldierRank.name }}
                  <p  class="text-muted small" data-ng-show="character.soldierRank.id != character.newSoldierRank.id">({{character.soldierRank.name}})</p>
                </td>
                <td>
                  {{ character.rankingPositionChange }}
                  <i class="fa" ng-class="{
                    'fa-arrow-up': character.rankingPositionChange > 0,
                    'text-success': character.rankingPositionChange > 0,
                    'fa-arrow-down': character.rankingPositionChange < 0,
                    'text-danger': character.rankingPositionChange < 0,
                      }"></i>
                </td>
                <td>
                  {{ character.gloryPointChange  || '--'}}
                  <i class="fa" ng-class="{
                    'fa-arrow-up': character.gloryPointChange > 0,
                    'text-success': character.gloryPointChange > 0,
                    'fa-arrow-down': character.gloryPointChange < 0,
                    'text-danger': character.gloryPointChange < 0,
                    }"></i>
                </td>
              </tr>
              </tbody>

            </table><!-- /Asmodians table -->

          </div>

        </div><!-- /Body -->

      </div>
    </div>
  </div>

</div><!-- /If is not empty -->

<!-- If is empty -->
<div data-ng-if="data.$$state.serverData.data.elyos.length == 0 && data.$$state.serverData.data.asmodians.length == 0">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="text-center">NYERLOCK HOLMES SAYS:</h1>
          <h2 class="text-center">"SEEMS THAT THERE IS NO DATA HERE YET, NYERK!"</h2>
          <img class="img img-responsive center-block" src="/img/nyerlockholmes.png" />
        </div>
      </div>
    </div>
  </div>
</div><!-- /If is empty -->
