<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li><a ng-href="#/merge/{{serverData1.serverName}}-{{serverData2.serverName}}">{{serverData.serverName}}</a></li>
  <li><a ng-href="#/merge/{{serverData1.serverName}}-{{serverData2.serverName}}/{{serverData.date}}">{{serverData.date}}</a></li>
</ol>

<!-- If is not empty -->
<div data-ng-if="!isEmpty">

  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <form class="form">

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Class</div>
              <select id="selectedClass" class="form-control" ng-model="filter.selectedClass" ng-options="class.name for class in classes">
                <option value="">-- All classes --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Rank</div>
              <select id="selectedRank" class="form-control" ng-model="filter.selectedRank" ng-options="rank.name for rank in ranks">
                <option value="">-- All ranks --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
              <input id="searcher" type="search" class="form-control" ng-model="filter.textSearch" />
            </div>
          </div>

          <div class="form-group">
            <input type="button" class="btn btn-success" value="Search" ng-click="search()">
            <input type="button" class="btn btn-info" value="Clear" ng-click="clear()">
          </div>

        </form>
      </div>
    </div>

  </div>

  <hr />

  <div class="row">
    <div class="co-sm-12">
      <div class="panel">
        <div class="panel-heading">
          <ul class="nav nav-tabs" data-ng-init="showing='elyos'">
            <li role="presentation" data-ng-class="{active: showing=='elyos'}">
              <a ng-click="showing='elyos'">Elyos <span ng-show="filteredData">({{elyosData.length}})</span></a>
            </li>
            <li role="presentation" data-ng-class="{active: showing=='asmodians'}">
              <a ng-click="showing='asmodians'">Asmodians <span ng-show="filteredData">({{asmodianData.length}})</span></a>
            </li>
          </ul>
        </div>
        <div class="panel-body">

          <!-- Elyos table -->
          <div ng-show="showing=='elyos'">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Class</th>
                  <th>GuildName</th>
                  <th>Glory points</th>
                  <th>Rank</th>
                  <th>Ranking change</th>
                  <th>HP change</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="character in elyosData">
                  <td>{{ character.position }}</td>
                  <td><a ng-href="#/character/{{character.serverName}}/{{character.characterID}}">{{ character.characterName }}</a></td>
                  <td>{{ character.characterClass.name }}</td>
                  <td>{{ character.guildName }}</td>
                  <td>{{ character.gloryPoint }}</td>
                  <td>
                    {{ character.newSoldierRank.name }}
                    <p  class="text-muted small" data-ng-show="character.soldierRank.id != character.newSoldierRank.id">({{character.soldierRank.name}})</p>
                  </td>
                  <td>
                    <i class="fa" ng-class="{
                          'fa-arrow-up': character.rankingPositionChange > 0,
                          'text-success': character.rankingPositionChange > 0,
                          'fa-arrow-down': character.rankingPositionChange < 0,
                          'text-danger': character.rankingPositionChange < 0,
                          }"></i>
                    {{ character.rankingPositionChange }}
                  </td>
                  <td>

                    <i class="fa" ng-class="{
                          'fa-arrow-up': character.gloryPointChange > 0,
                          'text-success': character.gloryPointChange > 0,
                          'fa-arrow-down': character.gloryPointChange < 0,
                          'text-danger': character.gloryPointChange < 0,
                          }"></i>
                    {{ character.gloryPointChange || '--' }}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center">
              <nav>
                <ul class="pagination pagination-sm">
                  <li ng-class="{'disabled': pagination.elyos.currentPage == 0 }" ng-click="page.elyos.previous()" >
                    <a href="" aria-label="Previous">
                      <span aria-hidden="true">&larr;</span> Previous
                    </a>
                  </li>
                  <li ng-click="page.elyos.goTo()">
                    <a herf="">{{ (pagination.elyos.currentPage + 1)}} / {{pagination.elyos.numPages}}</a>
                  </li>
                  <li class="next"ng-class="{'disabled': pagination.elyos.currentPage + 1 >= pagination.elyos.numPages }" ng-click="page.elyos.next()">
                    <a href="" aria-label="Next">Next <span aria-hidden="true">&rarr;</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div><!-- /Elyos table -->

          <!-- Asmodian table -->
          <div ng-show="showing=='asmodians'">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Class</th>
                  <th>GuildName</th>
                  <th>Glory points</th>
                  <th>Rank</th>
                  <th>Ranking change</th>
                  <th>HP change</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="character in asmodianData">
                  <td>{{ character.position }}</td>
                  <td><a ng-href="#/character/{{character.serverName}}/{{character.characterID}}">{{ character.characterName }}</a></td>
                  <td>{{ character.characterClass.name }}</td>
                  <td>{{ character.guildName }}</td>
                  <td>{{ character.gloryPoint }}</td>
                  <td>
                    {{ character.newSoldierRank.name }}
                    <p  class="text-muted small" data-ng-show="character.soldierRank.id != character.newSoldierRank.id">({{character.soldierRank.name}})</p>
                  </td>
                  <td>
                    <i class="fa" ng-class="{
                          'fa-arrow-up': character.rankingPositionChange > 0,
                          'text-success': character.rankingPositionChange > 0,
                          'fa-arrow-down': character.rankingPositionChange < 0,
                          'text-danger': character.rankingPositionChange < 0,
                          }"></i>
                    {{ character.rankingPositionChange }}
                  </td>
                  <td>
                    <i class="fa" ng-class="{
                          'fa-arrow-up': character.gloryPointChange > 0,
                          'text-success': character.gloryPointChange > 0,
                          'fa-arrow-down': character.gloryPointChange < 0,
                          'text-danger': character.gloryPointChange < 0,
                          }"></i>
                    {{ character.gloryPointChange || '--'}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center">
              <nav>
                <ul class="pagination pagination-sm">
                  <li ng-class="{'disabled': pagination.asmodians.currentPage == 0 }" ng-click="page.asmodians.previous()" >
                    <a href="" aria-label="Previous">
                      <span aria-hidden="true">&larr;</span> Previous
                    </a>
                  </li>
                  <li ng-click="page.asmodians.goTo()">
                    <a herf="">{{ (pagination.asmodians.currentPage + 1)}} / {{pagination.asmodians.numPages}}</a>
                  </li>
                  <li class="next"ng-class="{'disabled': pagination.asmodians.currentPage + 1 >= pagination.asmodians.numPages }" ng-click="page.asmodians.next()">
                    <a href="" aria-label="Next">Next <span aria-hidden="true">&rarr;</span></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div><!-- /Asmodian table -->

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="well">
        <form class="form-inline">

          <div class="form-group">
            <select id="server" class="form-control" ng-model="currentServer" ng-options="server.name for server in servers"></select>
          </div>

          <div class="form-group">
            <select id="searchDate" class="form-control" ng-model="searchDate" ng-options="date for date in storedDates"></select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="goTo(currentServer, searchDate)">Go</button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div><!-- /If is not empty -->

<!-- If is empty -->
<div data-ng-if="isEmpty">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="text-center">NYERLOCK HOLMES SAYS:</h1>
          <h2 class="text-center">"SEEMS THAT THERE IS NO DATA HERE YET, NYERK!"</h2>
          <img class="img img-responsive center-block" src="/img/nyerlockholmes.png" />
        </div>
      </div>
    </div>
  </div>
</div><!-- /If is empty -->