<div class="row">
  <div class="col-lg-12">
    <h2>Ranking for {{serverData.serverName}} at {{serverData.date}}</h2>
    <a href="#/">Back</a>

    <div class="row">
      <form class="form-inline">

        <div class="form-group">
          <label for="server">Server</label>
          <select id="server" class="form-control" ng-model="currentServer" ng-options="server.name for server in servers"></select>
        </div>

        <div class="form-group">
          <label for="searchDate">Date</label>
          <select id="searchDate" class="form-control" ng-model="searchDate" ng-options="date for date in storedDates"></select>
        </div>

      </form>
    </div>

    <ul class="nav nav-tabs" data-ng-init="showing='vs'">
      <li role="presentation" data-ng-class="{active: showing=='vs'}"><a ng-click="showing='vs'">Versus</a></li>
      <li role="presentation" data-ng-class="{active: showing=='elyos'}"><a ng-click="showing='elyos'">Elyos</a></li>
      <li role="presentation" data-ng-class="{active: showing=='asmodians'}"><a ng-click="showing='asmodians'">Asmodians</a></li>
    </ul>

    <div class="row" ng-show="showing=='vs'">

      <div class="col-lg-12">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Elyos Name</th>
            <th>Class</th>
            <th>GuildName</th>
            <th>Glory points</th>
            <th>Change</th>
            <th></th>
            <th>Asmodian Name</th>
            <th>Class</th>
            <th>GuildName</th>
            <th>Glory points</th>
            <th>Change</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="characterPair in versusData">

            <td>{{ characterPair.elyo.position }} <br /> {{ characterPair.elyo.soldierRank.name }}</td>
            <td>{{ characterPair.elyo.characterName }}</td>
            <td>{{ characterPair.elyo.characterClass.name }}</td>
            <td>{{ characterPair.elyo.guildName }}</td>
            <td>{{ characterPair.elyo.gloryPoint }}</td>
            <td>
              <i class="fa" ng-class="{
              'fa-arrow-up': characterPair.elyo.arrowStatus=='UP',
              'text-success': characterPair.elyo.arrowStatus=='UP',
              'fa-arrow-down': characterPair.elyo.arrowStatus=='DOWN',
              'text-danger': characterPair.elyo.arrowStatus=='DOWN',
              }"></i>
              {{ characterPair.elyo.rankingPositionChange }}
            </td>

            <td><i class="fa fa-exchange text-info"></i></td>

            <td>{{ characterPair.asmodian.characterName }}</td>
            <td>{{ characterPair.asmodian.characterClass.name }}</td>
            <td>{{ characterPair.asmodian.guildName }}</td>
            <td>{{ characterPair.asmodian.gloryPoint }}</td>
            <td>
              <i class="fa" ng-class="{
              'fa-arrow-up': characterPair.asmodian.arrowStatus=='UP',
              'text-success': characterPair.asmodian.arrowStatus=='UP',
              'fa-arrow-down': characterPair.asmodian.arrowStatus=='DOWN',
              'text-danger': characterPair.asmodian.arrowStatus=='DOWN',
              }"></i>
              {{ characterPair.asmodian.rankingPositionChange }}
            </td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <table class="table table-striped table-hover" ng-show="showing=='elyos'">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Class</th>
          <th>GuildName</th>
          <th>Glory points</th>
          <th>Rank</th>
          <th>Ranking change</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="character in elyosData">
          <td>{{ character.position }}</td>
          <td>{{ character.characterName }}</td>
          <td>{{ character.characterClass.name }}</td>
          <td>{{ character.guildName }}</td>
          <td>{{ character.gloryPoint }}</td>
          <td>{{ character.soldierRank.name }}</td>
          <td>
            <i class="fa" ng-class="{
              'fa-arrow-up': character.arrowStatus=='UP',
              'text-success': character.arrowStatus=='UP',
              'fa-arrow-down': character.arrowStatus=='DOWN',
              'text-danger': character.arrowStatus=='DOWN',
              }"></i>
            {{ character.rankingPositionChange }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover" ng-show="showing=='asmodians'">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Class</th>
        <th>GuildName</th>
        <th>Glory points</th>
        <th>Rank</th>
        <th>Ranking change</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="character in asmodianData">
        <td>{{ character.position }}</td>
        <td>{{ character.characterName }}</td>
        <td>{{ character.characterClass.name }}</td>
        <td>{{ character.guildName }}</td>
        <td>{{ character.gloryPoint }}</td>
        <td>{{ character.soldierRank.name }}</td>
        <td>
          <i class="fa" ng-class="{
              'fa-arrow-up': character.arrowStatus=='UP',
              'text-success': character.arrowStatus=='UP',
              'fa-arrow-down': character.arrowStatus=='DOWN',
              'text-danger': character.arrowStatus=='DOWN',
              }"></i>
          {{ character.rankingPositionChange }}
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>